---
title: GitLab Certified CI/CD Associate
suppress_header: true
description: "GitLab Certified CI/CD Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified CI/CD Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

= partial "includes/education-services-deprecated"
