---
title: GitLab DevSecOps Fundamentals
suppress_header: true
description: "GitLab DevSecOps Fundamentals"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

= partial "includes/education-services-deprecated"
